.TodoForm {
  max-width: 350px;
  margin: 0 auto;
}
.TodoForm .addNewForm {
  margin-bottom: 10px;
}
.TodoForm .mainInput {
  margin-left: 10px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}
.TodoForm .inputEdit {
  margin-left: 10px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}
.TodoForm h1 {
  font-size: 120;
  font-family:'Times New Roman', Times, serif;
  display: flex;
}
.TodoForm .renderedTodo {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.TodoForm .button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
.TodoForm .addButton {
  float: right;
}