.main {
  max-width: 350px;
  margin: 0 auto;
}
.addNewForm {
  margin-bottom: 10px;
}
.mainInput {
  margin-left: 10px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}
.inputEdit {
  margin-left: 10px;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}
h1 {
  font-size: 120;
  font-family:'Times New Roman', Times, serif;
  display: flex;
}
.renderedTodo {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}
.addButton {
  float: right;
}